@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Work+Sans:wght@200&display=swap");

$font-1st: "Work Sans", sans-serif;
$font-2nd: "Libre Baskerville", serif;
$home: true !default;

$primary: #98db13;
$secondary: #282c34;
$tertiary: #5e6b9d;

$color-text: #666;
$color-text-2: #555;
$color-heading: #000;
$color-white: #fbfbfb;
$color-dark: #161824;
$color-link: #06c;
$color-success: #669900;
$color-warning: #faa806;
$color-danger: #ec0101;
$color-gray: #9e9e9e;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-linkedin: #0077b5;
$color-instagram: #0077b5;
$document-font-size: 1.4rem;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
$timing-3: cubic-bezier(0.4, 0, 0.2, 1);
